# ДЗ №2

Продолжим обработку данных с Твиттера.

### Загрузка данных

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
import sklearn

In [11]:
df = pd.read_pickle('../lesson01/result.pkl.zip', compression='zip')

In [15]:
df.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesti]"
3,4,0.0,#model i love u take with u all the time in ...,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguid, societi, motiv]"

In [17]:
tweet_stemmed = df['tweet_stemmed'].apply(lambda x: ' '.join(x))
tweet_lemmatized = df['tweet_lemmatized'].apply(lambda x: ' '.join(x))

### Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). 

Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.

* Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
* Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
* Исключим стоп-слова с помощью stop_words='english'.
* Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [20]:
def bagCountVectorizer(documents):
    vkt = sklearn.feature_extraction.text.CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)
    bag_of_words = vkt.fit_transform(documents)
    feature_names = vkt.get_feature_names()
    return pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

In [22]:
bagCountVectorizer(tweet_stemmed).head(5)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
bagCountVectorizer(tweet_lemmatized).head(5)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). 

Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.

* Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
* Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
* Исключим стоп-слова с помощью stop_words='english'.
* Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [24]:
def bagTFiDFVectorizer(documents):
    vkt = sklearn.feature_extraction.text.TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)
    bag_of_words = vkt.fit_transform(documents)
    feature_names = vkt.get_feature_names()
    return pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

In [26]:
bagTFiDFVectorizer(tweet_stemmed).head(5)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
bagCountVectorizer(tweet_lemmatized).head(5)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Натренируем gensim.models.Word2Vec модель на наших данных.

* Тренировать будем на токенизированных твитах combine_df['tweet_token']
* Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
* Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [35]:
from gensim.models import Word2Vec

model = Word2Vec(df['tweet_token'], size=200, window=5, min_count=2, sg=1, hs=0, negative=10, workers=32, seed=34)

In [36]:
model.train(df['tweet_token'], total_examples=df.shape[0], epochs=20)

(9142580, 11726520)

Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. 
Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar. То же самое попробуем со словом "trump".

In [37]:
model.most_similar(positive=['dinner'])

[('bihdaydinner', 0.5622773766517639),
 ('tacotuesday', 0.5444235801696777),
 ('spaghetti', 0.5441312789916992),
 ('bolognese', 0.5384405851364136),
 ('cookout', 0.5259362459182739),
 ('shawarma', 0.5205472707748413),
 ('foodblogger', 0.5189213752746582),
 ('whoopppp', 0.5180895328521729),
 ('lastnight', 0.5164986848831177),
 ('sissy', 0.5144867897033691)]

In [38]:
model.most_similar(positive=['trump'])

[('donald', 0.5608586668968201),
 ('suppoer', 0.5371034145355225),
 ('dumptrump', 0.534472644329071),
 ('donaldtrump', 0.5310478210449219),
 ('unfit', 0.5271764993667603),
 ('crony', 0.5171792507171631),
 ('impeachment', 0.5092316269874573),
 ('fuhered', 0.5089944005012512),
 ('chopra', 0.5048550367355347),
 ('phony', 0.5027928352355957)]

Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).
Давайте проверим векторное представление любого слова из нашего корпуса, например "food".

In [53]:
model["food"]

array([ 0.153489  ,  0.06428561,  0.3722034 ,  0.06064127, -0.69315016,
        0.09973792, -0.01812078,  0.31044507,  0.26695278,  0.02499013,
        0.29230306,  0.20830229, -0.7019274 ,  0.1590251 ,  0.25446993,
       -0.00829136, -0.30274695,  0.3602547 , -0.34514144,  0.2308154 ,
       -0.16903019, -0.45647216, -0.80663496,  0.1529653 ,  0.34445292,
        0.38103506,  0.43576917,  0.29655367,  0.45724562, -0.47178194,
        0.16313516, -0.06369594,  0.44221067,  0.02226402, -0.26856628,
       -0.34542346, -0.2278957 ,  0.1894716 ,  0.3547875 ,  0.13324021,
       -0.80412257, -0.20877096,  0.6555684 ,  0.7543548 , -0.15332378,
        0.09594485,  0.38581765, -0.09959139, -0.33543912, -0.01400881,
        0.4181444 ,  0.349115  , -0.20921816, -0.04592204,  0.11665294,
        0.06410595,  0.45817414,  0.6064263 ,  0.54473484, -0.23088364,
       -0.5586976 ,  0.10403078, -0.20473142, -0.03284184,  0.57176596,
        0.87209374, -0.29178673,  0.24443777, -0.27210826,  0.6373826 ,
        0.14235216,  0.81801885, -0.23793222,  0.21601762,  0.2747174 ,
        0.21578705, -0.5655795 , -1.0569811 ,  0.3570619 , -0.6201609 ,
       -0.0298189 ,  0.37323475, -0.4174432 ,  0.00325148,  0.15755272,
        0.5462073 , -0.5052232 ,  0.31203255, -0.05375274, -0.3866936 ,
       -0.49133846, -0.54215914, -0.67657   , -0.01446305, -0.42138904,
       -0.9275409 , -0.30237696,  0.47410086, -0.13833892,  0.05608513,
        0.6463313 ,  0.7253423 ,  0.5406112 , -0.32045993,  0.489461  ,
        0.15659863, -0.77364594, -0.23027606,  0.36074   , -0.25414962,
        0.32980096,  0.73169684, -0.34717527, -0.31803823,  0.9539034 ,
       -0.18975525,  0.00473847, -1.0381975 , -0.3711367 , -0.39987123,
        0.5570919 , -0.13655223, -0.61718667, -0.31242165,  0.4069949 ,
       -0.47691533, -0.32533118,  0.15014961,  0.19859965,  0.2278087 ,
       -0.17637914,  0.01261086,  0.2616793 ,  0.14778785,  0.48799857,
        0.35551748, -0.4440099 , -0.14160112, -0.5867906 ,  1.0269115 ,
       -0.3002821 ,  0.03126681, -0.46858916, -0.00916485, -0.73759407,
       -0.4856427 ,  0.52309895, -0.91718864,  0.51041603,  0.57170296,
       -0.21917076,  0.82985604, -0.06824505,  0.11908425,  0.5189406 ,
       -0.47723886,  0.1344016 , -0.61917585, -0.1238239 ,  0.21111849,
       -0.28040308, -0.4807732 , -0.421934  ,  0.7956204 ,  0.04245191,
       -0.07363301,  0.60063547,  0.20368858, -0.08844454,  0.21455131,
       -0.08013403, -0.19575769,  0.5226329 , -0.14945926,  0.39443877,
        0.0391346 , -0.20894678, -0.14718439,  0.05461335, -0.01293472,
        0.47104517, -0.5902133 , -0.5987065 ,  0.7684516 , -0.15459368,
       -0.40386495,  0.00497545,  0.19631469,  0.11793983,  0.43506095,
        0.5467312 , -0.32229492, -0.4812068 , -0.50294477, -0.46824855,
        0.00863697,  0.1921929 , -0.6342944 , -0.03842387,  0.24815542],
      dtype=float32)

### Необходимо создать вектор для каждого твита
Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.

Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.
На выходе должен получиться wordvec_df.shape = (49159, 200).

In [111]:
def vecavg(tweets):
    vec = np.zeros((200,))
    cnt = 0
    for i in tweets:
        if i in model:
            vec += model[i]
            cnt += 1
    return list(vec / cnt)
    
vectors = pd.DataFrame(list(df['tweet_token'].apply(vecavg)))

In [113]:
vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,-0.019885,0.252414,-0.152997,0.000558,-0.149843,-0.031965,-0.179896,0.281747,-0.110417,-0.083372,...,0.010679,-0.236222,0.138744,0.211952,-0.148704,-0.124724,-0.137383,-0.320532,0.016711,0.225106
1,0.243932,-0.007327,-0.160880,0.026103,-0.215708,0.092421,-0.032565,0.176955,0.058125,0.112401,...,0.073019,-0.247427,0.191884,0.082540,-0.176893,-0.292900,0.026866,-0.184774,-0.028962,0.136897
2,0.111189,-0.273562,-0.183656,0.097517,-0.479514,0.040613,-0.001686,0.375726,-0.039611,-0.224925,...,-0.035069,-0.387379,-0.100452,0.466866,-0.070174,-0.028153,-0.092408,-0.405352,0.017130,0.476657
3,-0.036425,0.037782,-0.021160,0.004696,0.147599,0.058526,-0.114621,0.213723,0.059632,0.086401,...,0.150403,-0.541386,-0.157619,0.251735,0.137521,-0.044009,0.121063,-0.083002,-0.246977,0.457366
4,0.080210,-0.115255,-0.419365,-0.184859,0.179399,0.127797,-0.352009,0.518455,0.039487,0.165133,...,-0.005616,-0.135778,0.296242,0.392130,-0.203937,0.173051,0.126469,0.032222,0.041178,0.384974

In [114]:
vectors.shape

(49159, 200)

## Чат-бот

Докрутить чат-бота (обучить лучший ft, w2v, взвесить idf). Модели сдампить и сложить в облако, ноутбук можно через гитхаб. 

> **тут пока не разобрался, буду разбираться ближе к курсовому**